* {
	margin: 0;
	padding: 0;
}


@font-face {
    font-family: 'gagalinregular';
    src: url('font/gagalin-regular-webfont.eot');
    src: url('font/gagalin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gagalin-regular-webfont.woff2') format('woff2'),
         url('font/gagalin-regular-webfont.woff') format('woff'),
         url('font/gagalin-regular-webfont.ttf') format('truetype'),
         url('font/gagalin-regular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { 
background-color: #4A6188;
}

/*begin top navigation styling - target the title*/
#topNav { 
background-color:#E1DDD5; 
height:170px;
}

#topNav h1 { 
font-family: 'gagalinregular';
font-size:60px;
margin-left: 30px;
width: 40%;
display:inline;
margin-bottom: 40px;
letter-spacing: 2px;
}


#topNav h2 { 
font-family: 'gagalinregular';
font-size:40px;
margin-left: 20px;
width: 30%;
display:inline;
text-align: left; 
}

/*target category items*/
nav { 
margin-left: 40px;
margin-top:20px;
color:#E1DDD5;
}

nav ul li { 
display: inline; 
padding: 10px 30px 10px 30px; 
text-align: center; 
width: 60px;
font-family: 'gagalinregular';
font-size: 30px;
margin-right:30px;

}

nav ul li:nth-child(1) { 
background-color: #595956;
}

nav ul li:nth-child(2) { 
background-color: #7F7E79;
}

nav ul li:nth-child(3) { 
background-color: #A4A39F;
}

nav ul li:nth-child(4) { 
background-color: #F26A21;
}

nav ul li:nth-child(5) { 
color:black;
border-style:solid;
border-width:7px;
padding: 5px 25px 5px 25px; 
}

nav ul li:nth-child(6) { 
color:black;
border-style:solid;
border-width:7px;
padding: 5px 25px 5px 25px; 
}

/* timestamp styling */ 


#entries { 
width: 90%; 
margin: auto; 
}

section.entry { 
height:160px;
margin-top: 30px;
font-family:'gagalinregular';
font-size:30px;

}

section.entry h2, section.entry img, section.entry ul{ 
float:left;
background-color:#E1DDD5; 
}

section.entry h2 { 
text-align: center;
font-size:40px;
width: 15%;
height:100%;
display:inline-block; 
}

section.entry ul { 
position:relative; 
width:72%;
height:100%;
padding-left:30px;
list-style-type:none;
display:inline-block;
}

section.entry img { 
position:relative;
width:9%;
height:100%;
display:inline-block; 
}



#activity { 
background-color: #E1DDD5; 
font-size: 60px;
text-align:center;
font-family: 'gagalinregular';
width: 15%;
}

#activity tr {
text-align: center;
font-size:40px;
background-color: #E1DDD5; 
font-family: 'gagalinregular';
padding: 51px 30px 51px 30px;
}

img {
width:200px;
height:200px;
}

.category {
    padding:0px;
    background-color:#A4A39F;
}


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   color: #2D4059;
   background:#F07B3F; 
   text-align: center; 

    padding-top: 20px;
    font-family: 'gagalinregular';
    font-size:20px; 
}

a { 
color: black; 
text-decoration: none;
}




